.color-itemvalue{
	color: #353535;
}

.search-wrap{
	display: block;
	padding-top: 10px;
	padding-bottom: 15px;
	position: relative;
	width: 248px;
}
.search-input{
	width: 248px;
	padding-left: 10px;
	padding-right: 50px;
	height: 31px;
	border: 1px solid #71a43d;
	outline: none;
}
.search-btn{
	display: block;
	width: 40px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 0px;
	background-color: #71a43d;
	cursor: pointer;
}
.search-btn:before{
	font-family: ZenIcon;
	font-size: 16px;
	color: #fff;
	content: "\e603";
	-webkit-transition: all .5s cubic-bezier(.175,.885,.32,1);
	-o-transition: all .5s cubic-bezier(.175,.885,.32,1);
	transition: all .5s cubic-bezier(.175,.885,.32,1);
}

/**
 * 头部信息展示部分样式
 */
.head-msgWrap{
	padding: 15px 20px;
	background-color: #f1f8f0;
	color: #75767f;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}

/**
 * 主要信息展示部分样式
 */
.main-msgWrap{
	padding-top: 20px;
	padding-bottom: 1px;
	background-color: #f2f2f2;
	color: #75767f;
	margin-bottom: 10px;
}
.main-msgWrap td{
	border: none;
}
.table-item{
	text-align: right;
	vertical-align: middle!important;
}

.table tr>td.active,
.table tr>th.active,
.table tr.active>td, 
.table tr.active>th {
 	background-color: #f2f2f2; 
}

.prompt{
	line-height: 31px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-weight: normal;
}

/**
 * 底部信息展示部分样式
 */
.bottom-msgWrap{
	padding: 10px 20px;
	background-color: #f2f2f2;
}

/**
 * select , input 样式
 */
.table-input{
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 5px 10px;
}
.table-select{
	padding: 2.5px;
}
