<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>lms</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- <context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>GRWTH</param-value>
	</context-param> -->

	<!-- 设置session的默认超时时间 单位(分钟) -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- jstl标签 -->
	<jsp-config>
		<taglib>
			<taglib-uri>/jstl1.1/core.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl1.1/fmt.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl1.1/fn.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/jstl1.1/xw.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/xw.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<!--404错误或资源找不到时的默认页面！( 通过错误码来配置error-page)  -->
    <!--error-page>   
        <error-code>404</error-code>   
        <location>/nofind</location>   
    </error-page-->  
    
    <!--通过异常的类型配置error-page -->
    <!--error-page>   
        <exception-type>java.lang.NullException</exception-type>   
        <location>/error.jsp</location>   
    </error-page-->  
	 
	<!-- 加载日志模块,先于ContextLoaderListener加载 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc.xml,/WEB-INF/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 容器垃圾清理监听器  -->
	<listener> 
	    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class> 
 	</listener>

	<!-- 字符集 过滤器  -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 防XSS 过滤器 
    <filter>
        <filter-name>ternFilter</filter-name>
        <filter-class>com.xushi.web.filter.TernFilter</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>ternFilter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ternFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>	 -->	
</web-app>